html,
body {
  font-family: 'Roboto', sans-serif;
}

.barra {
 background-color: #8bc34a  ;
}

.barraalta {
  margin-bottom: 0;
  background-color: #aed581;
}
.barraalta h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
}

.barraalta h1 {
  color: #000;
}

.grey-text {
    color: #9e9e9e!important;
}

.zoom_img:hover {
	transform:scale(1.3);
	transition:1s;
}
